/**
 * Base
 */
@include url("https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css");


body,
html {
    text-align: center;
    font: normal 100%/1.5 Montserrat, sans-serif;
}

button a, button a:visited {
    color: #66757f !important;
    background-color: none !important;
    text-decoration: none !important;
    border-bottom: 0px solid;
}

h3 a,
.tweet,
h3 {
    color: white !important;
    background-color: none !important;
    text-decoration: none !important;
    border-bottom: 0px solid;
}

a.post,
a.post:visited {
    color: #66757f;
    color: ;
    text-decoration: inherit;
    font-size: 18px;
    border-left: solid 4px;
    padding-left: 10px;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 0px solid;
    max-width: 500px;
    margin: auto;
    text-align: center;
}

blockquote,
p,
cite {
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 1.5rem;
    font-style: normal;
}

a,
a:visited {
    display: inline-block;
    padding: 1px;
    text-decoration: none;
    border-bottom: 1px solid;
    color: #8aa651;
}

.animated {
    transition: all 500ms ease;
}


/**
 * Layout
 */

.page {
    padding-top: 4.5rem;
    background-color: #8aa651;
}

.page-footer {
    background: white;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
}

.container {
    padding-left: 10px;
    padding-right: 10px;
}

.cta {
    margin-top: 3rem;
    margin-bottom: 3rem;
}


/** 
 * Button
 */

.button {
    display: inline-block;
    background: none;
    border: 0;
    font: 300 81.25%/1 Open Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.17em;
    padding: 16px 24px;
    background-color: #ccc;
    color: white;
    border-radius: 3px;
}

.button.new-quote {
    background-color: white;
    color: #8aa651;
}

.button.tweet {
    position: relative;
    background-color: #55acee;
    color: white;
    padding-left: 48px;
}

.button.tweet>.icon {
    width: 18px;
    position: absolute;
    left: 16px;
    top: 13px;
}


/**
 * Quote Component
 */

.quote {
    max-width: 648px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    quotes: "“" "”" "‘" "’";
}

.quote::before {
    font-size: 86px;
    font-family: Georgia, serif;
    line-height: 1.5rem;
    content: open-quote;
    color: rgba(255, 255, 255, 0.4);
}

.quote__body {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 150%;
    letter-spacing: 0.085em;
}

.quote__cite {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 112.5%;
    letter-spacing: 0.085em
}


/**
 * Credits
 */

.credits {
    margin-top: 1.5rem;
    font: normal 87.5%/1.4 Open Sans, sans-serif;
    color: #66757f
}


/**
 * responsive
 */

@media screen and (min-width: 650px) {
    .page {
        padding-top: 6rem;
    }
    .quote::before {
        font-size: 100px;
        line-height: 4rem;
    }
    .quote__body {
        font-size: 220%;
        margin-bottom: 3rem;
    }
    .quote__cite {
        font-size: 125%;
    }
    .cta {
        margin-top: 6rem;
        margin-bottom: 6rem;
    }
}
